{% extends "base.html" %}
{% block title %}Eddie Eby - IT Professional{% endblock %}
{% block content %}
<div class="container mt-5 text-center">
    <div class="row align-items-center">
        <div class="col-md-12 mb-4">
            <img src="{{ url_for('static', filename='images/13086842_10209281305333431_6806259201660609133_o_10209281305333431.jpg') }}" alt="Your Picture" class="img-fluid rounded-circle" style="max-width: 500px;">
        </div>
        <div class="col-md-12">
            <h1>Eddie Eby</h1>
            <p class="lead">IT Professional</p>
            <p>IT professional with over four years in the field and ten years of experience in customer service. Trained leader and educator with familiarity in working with people of all ages in one-on-one and team settings. Possesses a bachelor's degree, CompTIA A+, CompTIA Linux+, CCNA, AWS Cloud Practitioner, and AWS Solutions Architect Associate certifications.</p>
        </div>
    </div>
</div>
{% endblock %}